<!DOCTYPE html>
<html lang="hi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload your Image here!</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <style></style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">StillHungry</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >घर<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logs">लॉग</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/timelogs">समय लॉग</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="POST" action="/logout">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
            लॉग आउट
          </button>
        </form>
      </div>
    </nav>
    <div class="lang">
      <label for="lang">अपनी भाषा का चयन करें:</label>

      <select id="lang" onchange="myFunction()">
        <option value="en">English</option>
        <option value="hi">हिंदी</option>
      </select>
    </div>

    <script>
      function myFunction() {
        var x = document.getElementById("lang").selectedIndex;
        console.log(x);
        if (x == 0) {
          window.location.href = "../";
        }
      }
    </script>
    <br /><br />
    <div class="upload-photo">
      <form method="POST" action="/image" enctype="multipart/form-data">
        <br />
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="validatedCustomFile"
            name="myFile"
            required
          />
          <label class="custom-file-label" for="validatedCustomFile"
            >छवि चुनें..</label
          >
          <button type="submit" class="btn btn-default">प्रस्तुत</button>
        </div>

        <!-- Upload your image :
            <input type="file" name="myFile" /><br />
    
            <input type="submit" /> -->
      </form>
    </div>
  </body>
</html>
