<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <style></style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">StillHungry</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>

    <!-- form -->
    <br />
    <br />
    <div class="row justify-content-sm-center">
      <div class="col-sm-6 col-md-4">
        <div class="card border-info text-center">
          <div class="card-header">
            Login in to continue
          </div>
          <div class="card-body">
            <h6 class="text-center">
              Default Username and Password is inkers and inkers
            </h6>
            <form class="form-signin" action="" method="POST">
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Username"
                name="username"
                required
                autofocus
              />
              <input
                type="password"
                class="form-control mb-2"
                placeholder="Password"
                name="password"
                required
              />
              <button
                class="btn btn-lg btn-primary btn-block mb-1"
                type="submit"
              >
                Log in
              </button>

              <a href="#" class="float-right">Forgot Password?</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="row justify-content-sm-center">
      <div class="col-sm-6 col-md-4">
        <div class="card border-info text-center">
          <div class="card-header">
            New User? Sign up here!
          </div>
          <div class="card-body">
            <h6 class="text-center">Hey! You're amazing</h6>
            <form class="form-signin" action="signup" method="POST">
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Full name"
                name="name"
                required
                autofocus
              />
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Username"
                name="username"
                required
                autofocus
              />
              <input
                type="password"
                class="form-control mb-2"
                placeholder="Password"
                name="password"
                required
              />
              <button
                class="btn btn-lg btn-primary btn-block mb-1"
                type="submit"
              >
                Sign Up
              </button>

              <!-- <a href="#" class="float-right">Forgot Password?</a> -->
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <h1 class="text-center mt-5">Horizontal layout</h1>
    <div class="container pt-3">
      <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-6">
          <div class="card border-info">
            <div class="card-header">Sign in to continue</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <h4 class="text-center">
                    Default Username and Password is "inkers" and "inkers"
                  </h4>
                </div>
                <div class="col-md-8">
                  <form class="form-signin">
                    <input
                      type="text"
                      class="form-control mb-2"
                      placeholder="Username"
                      required
                      autofocus
                    />
                    <input
                      type="password"
                      class="form-control mb-2"
                      placeholder="Password"
                      required
                    />
                    <button
                      class="btn btn-lg btn-primary btn-block mb-1"
                      type="submit"
                    >
                      Login in
                    </button>
                    <label class="checkbox float-left">
                      <input type="checkbox" value="remember-me" />
                      Remember me
                    </label>
                    <a href="#" class="float-right">Need help?</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="float-right">Create an account </a>
        </div>
      </div>
    </div> -->
    <!-- <form action="" method="POST">
      <input type="text" name="username" placeholder="User Name..." /><br />
      <input type="password" name="password" placeholder="password." />
      <br />
      <input type="submit" />

      <p><a href="/forget"> forget password?</a></p>
    </form> -->

    <!-- <h3>Sign up</h3>

    <form action="signup" method="POST">
      <input type="text" name="username" placeholder="User Name..." /><br />
      <input type="password" name="password" placeholder="password." /><br />
      <input type="submit" />
      <br />
    </form> -->
  </body>
</html>
